
 
img{
	width: 50px;
	height: 50px;
}

.natrayan{
	display:flex;
	gap: 30px;
	justify-content: center;
	place-items: center;
	background-color: greenyellow;
	padding: 30px 20px;
}

ul{ 
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color:lightskyblue;

     
     
     }

     li{
     	float: left;
        border-right: 1px solid white;
       }
    li a{
    	display:block;
     
     padding: 10px;
     color: write;
     text-decoration: none; }
 .ASH img{
   width: 1000px;
    height:1000px;
      }